<div class="header d-flex align-items-center">
    <a routerLink="/home">
        <img class="main-logo" src="assets/img/logo.png">
    </a>
    <form #searchBox="ngForm">
        <div class="header-search ms-3 d-flex align-items-center">
            <input type="text" class="seach-box"[(ngModel)]="searchText" name="searchText" placeholder="search for books">
        </div>
    </form>
    <button class="btn-theme ms-4 ">Sort</button>
    <div class="head-right-item">
        <div class="cart" routerLink="cart">
            <img class="cart-image" src="assets/img/cart.png">
            <div class="cart-items" *ngIf="cartItemCount">{{cartItemCount}}</div>
        </div>
    </div>
</div>
